src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ee22f02a-0e2a-4fe2-b293-257cba225d18" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectFlow" doc:id="c522ff29-8251-4a33-80b3-6b47f7abb21c" >
		<http:listener doc:name="Listener" doc:id="dd4ba68a-1fbf-437f-8449-dc679fbd9641" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="7ebee9c1-18f9-44f8-990a-e845f4dc9a87" message="message recieved #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c0c9c65f-4e07-47b7-acfa-e27bc2e63b4d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2201d64e-480f-4639-8bf1-31ac18f91ff1" message="data scessfully recieved #[payload]"/>
	</flow>
</mule>
